
{%extends "base.html"%} 
{%block title%}
<title>블로그 상세 페이지</title>
{%endblock%}
{%block main%}
    <h1>{{title}}</h1>
    <h2>{{content}}</h2>
    {% if head_image %}
    <div style = "width : 600px">
        <img src ="{{ head_image.url }}" alt="post head image" style = "width: 100%"/>
    </div>
    {% endif %}
    <a href = '{% url "blog:edit" id %}' >수정하기</a>
    <form action="/blog/post-delete/{{id}}/" method ="post">
        {% csrf_token %}
        <input type = "submit" value = "삭제"/>
    </form>
{%endblock%}